# Django
DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here

# Database
POSTGRES_HOST=localhost
POSTGRES_DB=library
POSTGRES_USER=library_user
POSTGRES_PASSWORD=library_password

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id

# Stripe
STRIPE_PUBLIC_KEY=your-stripe-public-key
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret