# ===================================
# Python
# ===================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.log

# ===================================
# Django
# ===================================
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/local_settings.py

# ===================================
# Environment & Secrets
# ===================================
.env
.env.*
!.env.sample

# ===================================
# Virtual environments
# ===================================
venv/
.venv/
ENV/
env.bak/
venv.bak/

# ===================================
# VSCode & PyCharm
# ===================================
.vscode/
.idea/

# ===================================
# macOS
# ===================================
.DS_Store

# ===================================
# Coverage reports
# ===================================
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
nosetests.xml
test-results.xml

# ===================================
# Mypy & Pylint
# ===================================
.mypy_cache/
.dmypy.json
.pyre/

# ===================================
# Docker
# ===================================
*.pid
*.seed
*.bak
*.tar
*.gz

# ===================================
# Build & Distribution
# ===================================
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/



# ===================================
# Others
# ===================================
*.swp
*~
