Django
djangorestframework
psycopg2-binary
python-dotenv
black
Pillow
flake8
flake8-quotes
flake8-variables-names
pep8-naming
djangorestframework-simplejwt
celery
redis
stripe
python-telegram-bot
